.search-main {
    
    height: 70px;

    &__input {
        background: #E7E7E7;
        font-family: 'Lato', sans-serif;

        &::placeholder {
            font-size: 18px;
            font-weight: 400;
            color: #adadad;
        }
    }
}

.filters {
    display: flex;
    flex-direction: column;
    row-gap: 15px;


    &__tags {
        display: flex;
        
        &--visible {
            display: flex;
            column-gap: 1.5%; 
        }
    }

    &__dropdowns {
        display: flex;
        column-gap: 1.5%;        
    }    

}

.tag {
    display: flex;
    align-items: center;
    column-gap: 12px;

    background-color: #3283f7;
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    border-radius: 5px;
    padding: 10px 20px;

    &__name {
        margin: 0;
    }
}   


