@use "../abstracts";

.search-main {
    position: relative;
    height: 70px;

    &__input {
        background: #E7E7E7;

        &::placeholder {
            font-size: abstracts.get-rem-value(18);
            font-weight: 400;
            color: #adadad;
        }
    }
}

.filters {
    display: flex;
    flex-direction: column;
    row-gap: 15px;


    &__tags {
        display: flex;
        
        &--visible {
            display: flex;
            flex-wrap: wrap;
            column-gap: 1.5%; 
            row-gap: 10px;
        }
    }

    &__dropdowns {
        display: flex;
        column-gap: 1.5%;        
    }    

}

.tag {
    display: flex;
    align-items: center;
    column-gap: 12px;

    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    border-radius: 5px;
    padding: 10px 20px;
    
    &--ingredients {
        background-color: #3283f7;
    }
    &--appliance {
        background-color: #68d9a4;
    }
    &--ustensils {
        background-color: #ED6454;
    }

    &__name {
        margin: 0;
    }
}   

.recipes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 4%;
    row-gap: 50px;
}

.no-recipes {
    display: none;

    &--visible {
        display: block;
    }
}