@use "../abstracts";

.filter-dropdown {
    $filterDropdown: &;

    display: grid;

    width: 15%;
    height: 69px;
    border-radius: 5px;

    transition: width 350ms ease-out;
    
    &.btn {
        padding: 25px 18px;
        border-right: 0px;
        border-left: 0px;
    }

    &__button {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__input {
        background-color: rgba(0, 0, 0, 0);    
        border: none;
        color: #ffff;
        font-size: abstracts.get-rem-value(18);
        padding: 0;
        outline: none;

        &::placeholder {
            color: #ffff;
        }
    }
    
    &__tags-list {
        display: none;
    }

    &__tag {
        justify-self: flex-start;
        text-align: left;
        width: 60%;
        min-width: fit-content;
    }

    &--open {
        position: relative;
        width: 667px;
        height: auto;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;

        #{$filterDropdown} {
            
            &__arrow {
                animation: rotate-arrow ease-in-out 100ms forwards;
            }

            &__tags-list {
                position: absolute;
                top: 71px;
                z-index: 2;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                row-gap: 15px;
                width: 100%;
                padding-left: 18px;
                color: #ffffff;
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;                

                &--ingredients {
                    background-color: #3283f7;
                }
                &--devices {
                    background-color: #68d9a4;
                }
                &--cookware {
                    background-color: #ED6454;
                }
            }
            
            &__input {
                flex-grow: 1;
            }
        }

    }

    &--ingredients {
        background-color: #3283f7;
    }

    &--devices {
        background-color: #68d9a4;
    }

    &--cookware {
        background-color: #ED6454;
    }
} 

@keyframes rotate-arrow {
    100% {
        transform: rotate(180deg)
    }
}